<div class="flex">
  <div class="w-2/5 bg-gray-50 p-5" style="min-height: calc(100vh - 146px)">
    <div class="menu-sidebar">
      <!--  Menu Items  -->
    </div>
  </div>
  <div class="w-3/5 p-5">
    <div class="options-sidebar">
      <!--  Options Items  -->
    </div>
  </div>
</div>