<% if @page_data["components"].any? %>
  <style>
    <% @page_data["components"].each do |component| %>
      <% foundComponent = Component.find(component["component_id"]) %>
      <%= raw(foundComponent.content['css']) %>
    <% end %>
  </style>
  <% @page_data["components"].each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <section><%= raw(render_editor_content(foundComponent)) %></section>
  <% end %>
  <script>
      <% @page_data["components"].each do |component| %>
        <% foundComponent = Component.find(component["component_id"]) %>
        <%= raw(foundComponent.content['js']) %>
      <% end %>
  </script>
<% else %>
  <p>No components on this page.</p>
<% end %>