<% if @page_data && @page_data["components"] && @page_data["components"].any? %>
  <%
    # Track which CSS and JS we've already included
    included_css = Set.new
    included_js = Set.new
  %>

  <style>

    <%= raw(current_user.website.theme.global_css) %>

    <% @page_data["components"].each do |component| %>
      <% foundComponent = Component.find(component["component_id"]) %>
      <% component_css = foundComponent.content['css'] %>
      <% if component_css.present? && !included_css.include?(foundComponent.id) %>
        <%= raw(render_preview_css(foundComponent, current_user.id)) %>
        <% included_css.add(foundComponent.id) %>
      <% end %>
    <% end %>
  </style>

  <% @page_data["components"].sort_by { |c| c["position"] }.each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <section class="relative">
      <%= raw(render_preview_content(foundComponent, current_user.id, @page_data['theme_page_id'], component['component_page_id'])) %>
    </section>
  <% end %>

  <script>
    <% @page_data["components"].each do |component| %>
      <% foundComponent = Component.find(component["component_id"]) %>
      <% component_js = foundComponent.content['js'] %>
      <% if component_js.present? && !included_js.include?(foundComponent.id) %>
        <%= raw(component_js) %>
        <% included_js.add(foundComponent.id) %>
      <% end %>
    <% end %>
  </script>
<% else %>
  <p>No components on this page.</p>
<% end %>