<div>
  <div class="mb-5">
    <div class="flex gap-3">
      <%= link_to 'Settings', manage_settings_path, class: 'nata-sans font-normal text-sm' %>
      <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-gray-300" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
      <p class="nata-sans font-normal text-sm">Website Settings</p>
    </div>
    <div class="flex items-center gap-3">
      <%= link_to manage_settings_path do %>
        <svg style="transform: rotate(90deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      <% end %>
      <h1 class="nata-sans page-title">Website Settings</h1>
    </div>
  </div>

  <div class="space-y-5">
    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Site Name</h2>
        <p class="nata-sans text-sm font-normal">Edit the name to easily find it on your dashboard and more.</p>
      </div>
      <div class="py-4 px-6">
        <div class="border-b pb-4 flex">
          <div class="w-3/10">

          </div>
          <div class="w-7/10">
            <p class="nata-sans text-sm font-normal">Your site name shows on your Dashboard and My Sites page. It's also used in search results. To manage your website title for SEO, <span class="text-blue-500">go to Editor</span></p>
          </div>
        </div>
        <div class="pt-4">
          <h2 class="nata-sans text-base font-semibold">Title on Google and browser tab</h2>
          <p class="nata-sans text-base font-normal">Every page on your site has a title that shows on Google and browser tabs. To customize, <span class="text-blue-500">go to Editor</span></p>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Site address (URL)</h2>
        <p class="nata-sans text-sm font-normal">Get a branded domain so visitors can easily find your site or edit your free Wix domain.</p>
      </div>
      <div class="py-4 px-6">
        <div class="flex">
          <div class="w-full">
            <p class="nata-sans text-base font-normal">Your site isn’t published yet. When you publish, this will be your domain.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Favicon</h2>
        <p class="nata-sans text-sm font-normal">A favicon is a small icon next to your site title. Get a custom favicon to help visitors recognize your brand and to stand out in their browser tabs.</p>
      </div>
      <div class="py-4 px-6">
        <div class="flex">
          <div class="w-full">

          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">General social image</h2>
        <p class="nata-sans text-sm font-normal">This image will be shared on social networks including Facebook and Twitter. It's a great way to help visitors recognize your brand.</p>
      </div>
      <div class="py-4 px-6">
        <div class="flex">
          <div class="w-full">

          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Facebook username</h2>
        <p class="nata-sans text-sm font-normal">Facebook needs your personal username to verify any likes you get on your website. To moderate comments, add the Facebook Comments box in the Editor.</p>
      </div>
      <div class="py-4 px-6">
        <div class="flex">
          <div class="w-full">

          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Site history</h2>
      </div>
      <div class="py-4 px-6">
        <div class="flex">
          <div class="w-full">

          </div>
        </div>
      </div>
    </div>
  </div>



</div>