<div class="mb-5">
  <div class="flex items-center gap-3">
    <div>
      <h1 class="nata-sans page-title">Account Settings</h1>
      <p class="nata-sans">View and update your account details, profile and more.</p>
    </div>
  </div>
</div>

<div class="space-y-5">
  <div class="flex gap-4">
    <div class="w-3/5 bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Account Info</h2>
      </div>
      <div class="py-4 px-6 grid grid-cols-2 gap-4">

      </div>
    </div>
    <div class="w-2/5 bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Account Security</h2>
      </div>
      <div class="py-4 px-6 grid grid-cols-2 gap-4">

      </div>
    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Login Info</h2>
    </div>
    <div class="py-4 px-6 grid grid-cols-2 gap-4">

    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">2-Step Verification</h2>
    </div>
    <div class="py-4 px-6 grid grid-cols-2 gap-4">

    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Social Logins</h2>
    </div>
    <div class="py-4 px-6 grid grid-cols-2 gap-4">

    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Email Preferences</h2>
    </div>
    <div class="py-4 px-6 flex gap-4">
      <div class="w-4/5 flex items-center">
        <p class="nata-sans">Choose which type of emails you'd like to receive from us.</p>
      </div>
      <div class="flex justify-end w-1/5">
        <button class="border py-2 px-4 rounded-full nata-sans text-sm text-blue-500">Manage Preferences</button>
      </div>
    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Login Activity</h2>
    </div>
    <div class="py-4 px-6 flex gap-4">

    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Privacy Preferences</h2>
    </div>
    <div class="py-4 px-6 flex gap-4">
      <div class="w-4/5 flex items-center">
        <p class="nata-sans">View and manage cookie and privacy preferences for your account. <span class="text-blue-500">Read More</span></p>
      </div>
      <div class="flex justify-end w-1/5">
        <button class="border py-2 px-4 rounded-full nata-sans text-sm text-blue-500">Manage Preferences</button>
      </div>
    </div>
  </div>

  <div class="w-full bg-gray-50 rounded-lg">
    <div class="py-4 px-6 border-b">
      <h2 class="nata-sans text-lg font-semibold">Close Your Account</h2>
    </div>
    <div class="py-4 px-6 flex gap-4">
      <div class="w-4/5 flex items-center">
        <p class="nata-sans">To close your account, first move any remaining sites to Trash. If your site has any Premium Plans or domains connected, you'll need to cancel or transfer them first. <span class="text-blue-500">Learn More</span></p>
      </div>
      <div class="flex justify-end w-1/5">
        <button class="border py-2 px-4 rounded-full nata-sans text-sm text-red-500">Close Your Account</button>
      </div>
    </div>
  </div>

</div>