<% if @page_data && @page_data["components"] && @page_data["components"].any? %>
  <%
    # Track which CSS and JS we've already included
    included_css = Set.new
    included_js = Set.new
  %>

  <style>
    <% @page_data["components"].each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <% component_css = foundComponent.content['css'] %>
    <% if component_css.present? && !included_css.include?(foundComponent.id) %>
    <%= raw(component_css) %>
    <% included_css.add(foundComponent.id) %>
    <% end %>
    <% end %>
  </style>

  <% @page_data["components"].each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <section class="relative edit-content-section">
      <%= current_website.user_id %>
    </section>
  <% end %>

  <script>
      <% @page_data["components"].each do |component| %>
      <% foundComponent = Component.find(component["component_id"]) %>
      <% component_js = foundComponent.content['js'] %>
      <% if component_js.present? && !included_js.include?(foundComponent.id) %>
      <%= raw(component_js) %>
      <% included_js.add(foundComponent.id) %>
      <% end %>
      <% end %>
  </script>
<% else %>
  <p>No components on this page.</p>
<% end %>