<div>
  <%= render 'manage/settings/settings_header', page_name: "Settings For Product Categories", subpage_name: 'SEO Settings', subpage_path: 'manage_settings_website_seo_settings_path', page_description: 'Customize your default product categories settings and meta tags or edit them individually.' %>

  <div>

  </div>
</div>