<div>
  <%= render 'manage/settings/settings_header', page_name: "More Payment Options", subpage_name: 'Accept Payments', subpage_path: 'manage_settings_payments_accept_payments_path', page_description: 'Choose how customers can pay. You can add or switch payment options at any time.' %>
</div>