<div>
  <%= render 'manage/settings/settings_header', page_name: "Accept Payments", subpage_name: nil, subpage_path: nil, page_description: 'Connect Wix Payments or other third-party providers so your customers can pay.' %>
</div>