<div class="p-5 border-b">
  <h2 class="nata-sans text-lg font-bold">Dividers</h2>
  <p class="nata-sans text-sm">Choose a style for your invoice's dividers.</p>
</div>
<div class="p-5 space-y-5">
  <div>
    <p>Colour</p>
    <p>Black</p>
  </div>
  <div class="grid grid-cols-2 gap-2">
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg style="width: 120px; height: 120px" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_1">
          <polygon class="st1" points="120 0 118.59 0 0 118.59 0 120 1.41 120 120 1.41 120 0"/>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer active-divider-button border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_2">
          <rect class="st0" x="34" y="59" width="52" height="2"/>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_3">
          <g>
            <circle cx="35" cy="60" r="1"/>
            <circle cx="51.67" cy="60" r="1"/>
            <circle cx="68.34" cy="60" r="1"/>
            <circle cx="85.01" cy="60" r="1"/>
          </g>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <!-- Generator: Adobe Illustrator 29.1.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 142)  -->
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_10">
          <g>
            <rect x="33.51" y="59" width="8" height="2"/>
            <rect x="48.36" y="59" width="8" height="2"/>
            <rect x="63.21" y="59" width="8" height="2"/>
            <rect x="78.06" y="59" width="8" height="2"/>
          </g>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_5">
          <rect x="34" y="59" width="52" height="2"/>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_6">
          <rect x="34" y="55" width="2" height="10"/>
          <rect x="44" y="55" width="2" height="10"/>
          <rect x="54" y="55" width="2" height="10"/>
          <rect x="64" y="55" width="2" height="10"/>
          <rect x="74" y="55" width="2" height="10"/>
          <rect x="84" y="55" width="2" height="10"/>
        </g>

      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_7" data-name="Layer 7" viewBox="0 0 120 120">
        <circle cx="35" cy="60" r="1"/>
        <circle cx="51.67" cy="60" r="1"/>
        <circle cx="68.34" cy="60" r="1"/>
        <circle cx="85.01" cy="60" r="1"/>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_8">
          <rect x="34" y="58.5" width="52" height="3"/>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_9">
          <g>
            <circle cx="35" cy="60" r="1"/>
            <circle cx="45" cy="60" r="1"/>
            <circle cx="55" cy="60" r="1"/>
            <circle cx="65" cy="60" r="1"/>
            <circle cx="75" cy="60" r="1"/>
            <circle cx="85" cy="60" r="1"/>
          </g>
        </g>
      </svg>
    </div>
    <div style="max-width: 120px" class="cursor-pointer border rounded flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 120 120">
        <defs>
          <style>
              .st0 {
                  fill: #333;
              }

              .st1 {
                  fill: #ed2024;
              }

              .st2 {
                  display: none;
              }
          </style>
        </defs>
        <g id="Layer_11">
          <rect x="34" y="58" width="52" height="4"/>
        </g>
      </svg>
    </div>
  </div>

</div>