<div class="p-5 border-b">
  <h2 class="nata-sans text-lg font-bold">Image</h2>
  <p class="nata-sans text-sm">Add an image to show more details about your business.</p>
</div>
<div class="p-5 space-y-5">

</div>