<div class="p-5 border-b">
  <h2 class="nata-sans text-lg font-bold">Text</h2>
  <p class="nata-sans text-sm">Customize the way text appears on your receipt.</p>
</div>
<div class="p-5 space-y-5">
  <div class="h-20 w-full border rounded flex items-center justify-center relative text-invoice-selector">
    <h3 class="nata-sans text-base font-bold">Headline</h3>
    <div class="text-overlay z-5 h-20 w-full rounded absolute flex justify-center items-center">
      <button data-partial="headline" class="text-invoice-button bg-white rounded-full px-3 py-1 nata-sans text-sm text-blue-500 hover:bg-blue-50">Customize</button>
    </div>
  </div>
  <div class="h-20 w-full border rounded flex items-center justify-center relative text-invoice-selector">
    <h3 class="nata-sans text-base font-semibold">Title</h3>
    <div class="text-overlay z-5 h-20 w-full rounded absolute flex justify-center items-center">
      <button data-partial="title" class="text-invoice-button bg-white rounded-full px-3 py-1 nata-sans text-sm text-blue-500 hover:bg-blue-50">Customize</button>
    </div>
  </div>
  <div class="h-20 w-full border rounded flex items-center justify-center relative text-invoice-selector">
    <h3 class="nata-sans text-base font-base">Text</h3>
    <div class="text-overlay z-5 h-20 w-full rounded absolute flex justify-center items-center">
      <button data-partial="text" class="text-invoice-button bg-white rounded-full px-3 py-1 nata-sans text-sm text-blue-500 hover:bg-blue-50">Customize</button>
    </div>
  </div>
  <div class="h-20 w-full border rounded flex items-center justify-center relative text-invoice-selector">
    <h3 class="nata-sans text-base font-base">Items</h3>
    <div class="text-overlay z-5 h-20 w-full rounded absolute flex justify-center items-center">
      <button data-partial="items" class="text-invoice-button bg-white rounded-full px-3 py-1 nata-sans text-sm text-blue-500 hover:bg-blue-50">Customize</button>
    </div>
  </div>
</div>
