<div style="z-index: 99999999" class="hidden absolute right-5 bottom-5 bg-white rounded-lg help-popup-section overflow-hidden">
  <div class="help-popup-top bg-black-gray pb-15 px-3 pt-3 flex items-end relative" style="min-height: 25vh">
    <p class="help-popup-title nata-sans text-white text-3xl font-bold">How can we help, Jack?</p>
    <div class="absolute right-4 top-4 flex gap-2">
      <div>
        <div class="help-popup-maximise-div relative">
          <svg onclick="helpPopupMaximise()" class="cursor-pointer help-popup-maximise" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" id="Arrows-Out-Simple-Light--Streamline-Phosphor" height="10" width="10">
            <path d="M15.84 0.706975v4.3758125c0 0.42106875 -0.4558125 0.68423125 -0.8204625 0.4737 -0.1692375 -0.09770625 -0.27349375 -0.27828125 -0.27349375 -0.4737V2.0270125l-4.90090625 4.9009125c-0.30805625 0.28705 -0.81133125 0.132975 -0.90589375 -0.27733125 -0.04080625 -0.17705 0.00896875 -0.3628 0.13283125 -0.49573125l4.9009125 -4.90090625h-3.05578125c-0.4210625 -0.00001875 -0.68423125 -0.45585 -0.47368125 -0.8204875 0.0977125 -0.169225 0.278275 -0.27346875 0.47368125 -0.27346875h4.37581875c0.3020875 0 0.546975 0.2448875 0.546975 0.546975ZM6.1548625 9.072075l-4.90090625 4.9009125v-3.05578125c0 -0.4210625 -0.45581875 -0.684225 -0.82046875 -0.47369375 -0.1692375 0.09770625 -0.2734875 0.27828125 -0.2734875 0.47369375v4.37581875c0 0.30209375 0.24488125 0.5469875 0.546975 0.546975h4.3758125c0.42106875 -0.00001875 0.68423125 -0.45584375 0.4736875 -0.8204875 -0.0977125 -0.169225 -0.278275 -0.27346875 -0.4736875 -0.27346875H2.0270125l4.9009125 -4.9009125c0.28705 -0.30805 0.132975 -0.811325 -0.27733125 -0.9058875 -0.17705 -0.04080625 -0.3628 0.00896875 -0.49573125 0.13283125Z" stroke-width="0.0625"></path>
          </svg>
        </div>
        <div class="help-popup-minimise-div relative hidden">
          <svg onclick="helpPopupMinimise()" class="cursor-pointer help-popup-minimise" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" id="Arrows-Out-Simple-Light--Streamline-Phosphor" height="10" width="10">
            <path d="M15.84 0.706975v4.3758125c0 0.42106875 -0.4558125 0.68423125 -0.8204625 0.4737 -0.1692375 -0.09770625 -0.27349375 -0.27828125 -0.27349375 -0.4737V2.0270125l-4.90090625 4.9009125c-0.30805625 0.28705 -0.81133125 0.132975 -0.90589375 -0.27733125 -0.04080625 -0.17705 0.00896875 -0.3628 0.13283125 -0.49573125l4.9009125 -4.90090625h-3.05578125c-0.4210625 -0.00001875 -0.68423125 -0.45585 -0.47368125 -0.8204875 0.0977125 -0.169225 0.278275 -0.27346875 0.47368125 -0.27346875h4.37581875c0.3020875 0 0.546975 0.2448875 0.546975 0.546975ZM6.1548625 9.072075l-4.90090625 4.9009125v-3.05578125c0 -0.4210625 -0.45581875 -0.684225 -0.82046875 -0.47369375 -0.1692375 0.09770625 -0.2734875 0.27828125 -0.2734875 0.47369375v4.37581875c0 0.30209375 0.24488125 0.5469875 0.546975 0.546975h4.3758125c0.42106875 -0.00001875 0.68423125 -0.45584375 0.4736875 -0.8204875 -0.0977125 -0.169225 -0.278275 -0.27346875 -0.4736875 -0.27346875H2.0270125l4.9009125 -4.9009125c0.28705 -0.30805 0.132975 -0.811325 -0.27733125 -0.9058875 -0.17705 -0.04080625 -0.3628 0.00896875 -0.49573125 0.13283125Z" stroke-width="0.0625"></path>
          </svg>
        </div>
      </div>
      <div class="help-popup-close-div relative">
        <svg onclick="closeHelpPopup()" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" id="X--Streamline-Phosphor" height="10" width="10">
          <path d="M15.61025625 14.50095625c0.42696875 0.42696875 0.23161875 1.1560375 -0.35163125 1.31231875 -0.2706875 0.072525 -0.55950625 -0.0048625 -0.75766875 -0.20301875L8 9.10831875 1.49904375 15.61025625c-0.42696875 0.42696875 -1.1560375 0.23161875 -1.31231875 -0.35163125 -0.072525 -0.2706875 0.0048625 -0.5595125 0.20301875 -0.75766875L6.89168125 8 0.38974375 1.49904375C-0.037225 1.072075 0.158125 0.34300625 0.741375 0.186725c0.2706875 -0.072525 0.55950625 0.0048625 0.75766875 0.20301875L8 6.89168125 14.50095625 0.38974375c0.42696875 -0.42696875 1.1560375 -0.23161875 1.31231875 0.35163125 0.072525 0.2706875 -0.0048625 0.5595125 -0.20301875 0.75766875L9.10831875 8Z" stroke-width="0.0625"></path>
        </svg>
      </div>
    </div>
    <div class="absolute left-4 top-4 hidden help-popup-back">
      <div class="help-popup-back-div relative">
        <svg onclick="resetHelpPopup()" style="transform: rotate(180deg)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" height="10" width="10">
          <path d="m15.69364375 8.35364375 -6.005275 6.005275c-0.2818375 0.26263125 -0.74229375 0.121675 -0.82881875 -0.25371875 -0.0373375 -0.16199375 0.0082 -0.33195 0.12153125 -0.45356875l5.15035625 -5.15119375H0.6604375c-0.3852375 0 -0.6260125 -0.41703125 -0.43339375 -0.75065625 0.0894 -0.1548375 0.25460625 -0.25021875 0.43339375 -0.25021875h13.471l-5.15035625 -5.15119375c-0.26263125 -0.2818375 -0.121675 -0.74229375 0.25371875 -0.82881875 0.16199375 -0.0373375 0.33195 0.0082 0.45356875 0.12153125l6.005275 6.005275c0.19514375 0.19538125 0.19514375 0.51190625 0 0.7072875Z" stroke-width="0.0625"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="px-3 -mt-10">
    <div class="help-popup-bottom bg-white overflow-y-auto relative" style="border-radius: 8px 8px 0px 0px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; min-height: calc(40vh + 40px); max-height: calc(40vh + 40px)">
      <div class="p-5">
        <form id="quick-search-form" action="<%= manage_help_search_path %>" method="post" class="relative">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <textarea
            name="search"
            id="quick-search-input"
            class="border rounded w-full h-20 p-3 nata-sans"
            autocomplete="off"
            placeholder="Ask a specific question"></textarea>

          <button type="submit" id="help-submit-btn" class="absolute bottom-3 right-1.5 p-1.5 rounded-full flex items-center justify-center" style="background: linear-gradient(90deg, #0e8c0e 25%, #00d100 100%);">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" height="18" width="18">
              <path d="m15.69364375 8.35364375 -6.005275 6.005275c-0.2818375 0.26263125 -0.74229375 0.121675 -0.82881875 -0.25371875 -0.0373375 -0.16199375 0.0082 -0.33195 0.12153125 -0.45356875l5.15035625 -5.15119375H0.6604375c-0.3852375 0 -0.6260125 -0.41703125 -0.43339375 -0.75065625 0.0894 -0.1548375 0.25460625 -0.25021875 0.43339375 -0.25021875h13.471l-5.15035625 -5.15119375c-0.26263125 -0.2818375 -0.121675 -0.74229375 0.25371875 -0.82881875 0.16199375 -0.0373375 0.33195 0.0082 0.45356875 0.12153125l6.005275 6.005275c0.19514375 0.19538125 0.19514375 0.51190625 0 0.7072875Z" stroke-width="0.0625"></path>
            </svg>
          </button>
        </form>
      </div>

      <div id="help_response">
        <div class="help-questions">
          <div class="px-5">
            <div class="flex gap-2 items-center justify-between py-3 pt-0 border-b">
              <p class="nata-sans text-sm">How can i adjust elements for mobile?</p>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
            <div class="flex gap-2 items-center justify-between py-3 border-b">
              <p class="nata-sans text-sm">How do i add text to my site?</p>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
            <div class="flex gap-2 items-center justify-between py-3 pb-0">
              <p class="nata-sans text-sm">what are sections in my seite editor?</p>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </div>
          <div class="p-5">
            <hr>
          </div>
          <div class="px-5">
            <p class="nata-sans font-semibold">Explore more resources</p>
            <div class="flex gap-2 items-center justify-between py-3 border-b">
              <div class="flex gap-3 items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="Dialpad--Streamline-Rounded-Material" height="18" width="18">
                  <path fill="#000000" d="M11.99775 23c-0.48185 0 -0.8936 -0.1716 -1.23525 -0.51475 -0.34165 -0.34315 -0.5125 -0.75565 -0.5125 -1.2375s0.1716 -0.8936 0.51475 -1.23525c0.34315 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm-6.25 -18.5c-0.48185 0 -0.893585 -0.171585 -1.23525 -0.51475C4.170835 3.642085 4 3.229585 4 2.74775s0.171585 -0.893585 0.51475 -1.23525C4.857915 1.170835 5.2704 1 5.75225 1s0.8936 0.171585 1.23525 0.51475C7.32915 1.857915 7.5 2.270415 7.5 2.75225s-0.1716 0.893585 -0.51475 1.23525C6.6421 4.329165 6.2296 4.5 5.74775 4.5Zm0 6.15c-0.48185 0 -0.893585 -0.1716 -1.23525 -0.51475C4.170835 9.7921 4 9.3796 4 8.89775s0.171585 -0.8936 0.51475 -1.23525c0.343165 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm0 6.175c-0.48185 0 -0.893585 -0.1716 -1.23525 -0.51475C4.170835 15.9671 4 15.5546 4 15.07275s0.171585 -0.8936 0.51475 -1.23525c0.343165 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm12.5 -12.325c-0.48185 0 -0.8936 -0.171585 -1.23525 -0.51475C16.67085 3.642085 16.5 3.229585 16.5 2.74775s0.1716 -0.893585 0.51475 -1.23525C17.3579 1.170835 17.7704 1 18.25225 1s0.8936 0.171585 1.23525 0.51475C19.82915 1.857915 20 2.270415 20 2.75225s-0.1716 0.893585 -0.51475 1.23525C19.1421 4.329165 18.7296 4.5 18.24775 4.5Zm-6.25 12.325c-0.48185 0 -0.8936 -0.1716 -1.23525 -0.51475 -0.34165 -0.34315 -0.5125 -0.75565 -0.5125 -1.2375s0.1716 -0.8936 0.51475 -1.23525c0.34315 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm6.25 0c-0.48185 0 -0.8936 -0.1716 -1.23525 -0.51475 -0.34165 -0.34315 -0.5125 -0.75565 -0.5125 -1.2375s0.1716 -0.8936 0.51475 -1.23525c0.34315 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm0 -6.175c-0.48185 0 -0.8936 -0.1716 -1.23525 -0.51475 -0.34165 -0.34315 -0.5125 -0.75565 -0.5125 -1.2375s0.1716 -0.8936 0.51475 -1.23525c0.34315 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm-6.25 0c-0.48185 0 -0.8936 -0.1716 -1.23525 -0.51475 -0.34165 -0.34315 -0.5125 -0.75565 -0.5125 -1.2375s0.1716 -0.8936 0.51475 -1.23525c0.34315 -0.34165 0.75565 -0.5125 1.2375 -0.5125s0.8936 0.1716 1.23525 0.51475c0.34165 0.34315 0.5125 0.75565 0.5125 1.2375s-0.1716 0.8936 -0.51475 1.23525c-0.34315 0.34165 -0.75565 0.5125 -1.2375 0.5125Zm0 -6.15c-0.48185 0 -0.8936 -0.171585 -1.23525 -0.51475 -0.34165 -0.343165 -0.5125 -0.755665 -0.5125 -1.2375s0.1716 -0.893585 0.51475 -1.23525C11.1079 1.170835 11.5204 1 12.00225 1s0.8936 0.171585 1.23525 0.51475c0.34165 0.343165 0.5125 0.755665 0.5125 1.2375s-0.1716 0.893585 -0.51475 1.23525C12.8921 4.329165 12.4796 4.5 11.99775 4.5Z" stroke-width="0.5"></path>
                </svg>
                <p class="nata-sans text-sm">Keyboard Shortcuts</p>
              </div>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
            <div class="flex gap-2 items-center justify-between py-3 border-b">
              <div class="flex gap-3 items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="#000">
                  <path d="M21.9508 1.59717H2.04922C1.04998 1.59712 0.23999 2.40716 0.23999 3.4064V21.4987C0.240346 22.1711 0.948112 22.6081 1.54942 22.3072L4.76307 20.7004L7.97671 22.3072C8.23153 22.4347 8.53153 22.4347 8.78634 22.3072L12 20.7004L15.2136 22.3072C15.4684 22.4347 15.7685 22.4347 16.0233 22.3072L19.2369 20.7004L22.4506 22.3072C23.0519 22.6081 23.7596 22.1711 23.76 21.4987V3.4064C23.76 2.40719 22.95 1.59717 21.9508 1.59717ZM21.9508 20.0355L19.6417 18.8799C19.3869 18.7523 19.0869 18.7523 18.8321 18.8799L15.6184 20.4878L12.4048 18.8799C12.15 18.7523 11.85 18.7523 11.5952 18.8799L8.38153 20.4878L5.16788 18.8799C4.91307 18.7523 4.61307 18.7523 4.35825 18.8799L2.04922 20.0355V3.4064H21.9508V20.0355ZM12.9046 9.73871C12.9046 9.23911 13.3096 8.8341 13.8092 8.8341H19.2369C19.9333 8.8341 20.3685 9.58794 20.0203 10.191C19.8587 10.4709 19.5601 10.6433 19.2369 10.6433H13.8092C13.3096 10.6434 12.9046 10.2383 12.9046 9.73871ZM12.9046 13.3572C12.9046 12.8575 13.3096 12.4525 13.8092 12.4526H19.2369C19.9333 12.4526 20.3685 13.2064 20.0203 13.8095C19.8587 14.0894 19.5601 14.2618 19.2369 14.2618H13.8092C13.3096 14.2618 12.9046 13.8568 12.9046 13.3572ZM4.76306 16.071H10.1908C10.6903 16.071 11.0954 15.666 11.0954 15.1664V7.92947C11.0954 7.42989 10.6903 7.02488 10.1908 7.02486H4.76307C4.26345 7.02484 3.85845 7.42985 3.85845 7.92947V15.1664C3.85845 15.666 4.26344 16.071 4.76306 16.071ZM5.66768 8.8341H9.28614V14.2618H5.66768V8.8341Z" fill="black"></path>
                </svg>
                <p class="nata-sans text-sm">Wix Blog</p>
              </div>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
            <div class="flex gap-2 items-center justify-between py-3 pb-0">
              <div class="flex gap-3 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Code-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M4.24 5.788125 1.585625 8l2.654375 2.211875a0.375 0.375 0 1 1 -0.48 0.57625l-3 -2.5a0.375 0.375 0 0 1 0 -0.57625l3 -2.5a0.375 0.375 0 0 1 0.48 0.57625Zm11 1.92375 -3 -2.5a0.375 0.375 0 1 0 -0.48 0.57625L14.414375 8l-2.654375 2.211875a0.375 0.375 0 1 0 0.48 0.57625l3 -2.5a0.375 0.375 0 0 0 0 -0.57625Zm-5.111875 -5.5625a0.375 0.375 0 0 0 -0.480625 0.225625l-4 11a0.375 0.375 0 0 0 0.2275 0.4775 0.384375 0.384375 0 0 0 0.125 0.0225 0.375 0.375 0 0 0 0.3525 -0.246875l4 -11a0.375 0.375 0 0 0 -0.224375 -0.480625Z" stroke-width="0.0625"></path>
                </svg>
                <p class="nata-sans text-sm">SEO Learning Hub</p>
              </div>
              <svg style="transform: rotate(270deg)" class="w-4 h-4 transform transition-transform duration-200 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </div>
          <div class="p-5">
            <hr>
          </div>
          <div class="px-5">
            <div class="flex gap-3 items-center mb-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Rocket-Launch-Light--Streamline-Phosphor" height="18" width="18">
                <path d="M17.80566328125 1.371740625c-0.03964921875 -0.63425390625 -0.54546328125 -1.13968828125 -1.1797523437500002 -1.1788523437499998 -1.10775234375 -0.0656859375 -3.93879375 0.0351 -6.28839140625 2.38469765625l-0.48143671875 0.48233671874999995H4.53146484375c-0.3340265625 -0.00078046875 -0.6544828125 0.13206796875000001 -0.8899875 0.36895078125L0.550378125 6.5190796875c-0.68566640625 0.6858703125 -0.37173515625000003 1.8567984375000002 0.56508046875 2.10766640625 0.049148437499999996 0.0131625 0.09904921875 0.023329687499999998 0.149428125 0.030459374999999997l3.52124296875 0.49133671874999996 4.0638796875 4.0638796875 0.49133671874999996 3.5257429687500004c0.13706015625 0.96009609375 1.26204609375 1.41178359375 2.0249789062500003 0.81304453125 0.03969140625 -0.0311484375 0.07747734375000001 -0.06465234375 0.113146875 -0.1003359375l3.09110625 -3.09109921875c0.2367984375 -0.23555390625 0.36963281249999996 -0.55598203125 0.36895078125 -0.8899875V8.14246875l0.48143671875 -0.48143671875c2.3487046874999997 -2.35139765625 2.4503906250000003 -5.18063203125 2.38469765625 -6.289291406249999ZM1.27028671875 7.4693601562500005c-0.019687500000000004 -0.063534375 -0.0027351562499999997 -0.13274296875 0.04409296875 -0.17997890625l3.09019921875 -3.09740625c0.03375 -0.03346875 0.07936171875 -0.052228125 0.1268859375 -0.05219296875h4.24475859375L4.84822265625 8.0668828125l-3.43215703125 -0.47874374999999997c-0.0676828125 -0.00758671875 -0.124678125 -0.054028124999999996 -0.14577890625 -0.11877890625Zm12.5884828125 5.9977265625000005c-0.00020390624999999999 0.047657812499999994 -0.01929375 0.093290625 -0.05309296875 0.1268859375l-3.08930625 3.09019921875c-0.09741796875 0.09851484375 -0.26494453125 0.054625781250000005 -0.30154921875 -0.07899609375 -0.001884375 -0.00686953125 -0.00335390625 -0.01384453125 -0.00440859375 -0.020889843749999998l-0.47873671875 -3.4339570312500003 3.9270937499999996 -3.92799375Zm0.7981945312500001 -6.56915625 -5.29761796875 5.29671796875 -3.55544296875 -3.55544296875 5.29761796875 -5.298517968750001c1.43649140625 -1.4457093749999999 3.4275515624999997 -2.200275 5.46140390625 -2.0697328125 0.08937421875 0.00748125 0.159609375 0.07962890625 0.16467890624999998 0.16917890624999998 0.12921328124999998 2.0323125 -0.625246875 4.0214671875 -2.06973984375 5.456896875ZM6.83966953125 14.246388281249999c-0.38875078125 0.8575875 -1.69808203125 2.851734375 -5.399303906249999 2.851734375 -0.29818828124999996 -0.0000140625 -0.53993671875 -0.24174140624999998 -0.53993671875 -0.5399296875 0 -3.70122890625 1.994146875 -5.01056015625 2.851734375 -5.3993109375 0.37823203125 -0.1731796875 0.80210390625 0.12803203125 0.7629679687500001 0.5421796875 -0.01816171875 0.19220625 -0.13748203125 0.3601265625 -0.31302421875 0.44050078125 -0.629915625 0.28525781250000004 -2.0274398437500003 1.21663828125 -2.2020187499999997 3.8614007812500004 2.6447625 -0.17457890625 3.57614296875 -1.5765960937499999 3.8614078125 -2.2020187499999997 0.1731796875 -0.37823203125 0.69086953125 -0.42714843750000003 0.9318375000000001 -0.08805234375 0.11183203125 0.1573734375 0.13121015625000002 0.3624609375 0.0508359375 0.53799609375Z" stroke-width="0.0703"></path>
              </svg>
              <p class="nata-sans font-semibold">Hire a professional</p>
            </div>
            <p class="nata-sans text-sm  mb-1">Get matched with a professional who can help you reach your site goals.</p>
            <a href="/" class="nata-sans text-sm text-green-500">Find a Pro</a>
          </div>
          <div class="p-5">
            <hr>
          </div>
          <div class="px-5">
            <p class="nata-sans text-xs text-center">Learn about our <u>terms of use</u> and <u>privacy policy</u></p>
          </div>
        </div>
      </div>

      <div class="help-contact-bottom mt-5 p-5 flex justify-between bg-gray-50 border-t items-center">
        <p class="nata-sans font-semibold">Need More Help?</p>
        <button class="nata-sans text-sm px-3 py-1 border rounded-full text-green-500 bg-white">Chat With Us</button>
      </div>




    </div>
  </div>
</div>